h1 {
    text-align: center;
    color: crimson;
    letter-spacing: 4px;
    word-spacing: 10px;
}

div.contenedor {
    width: 30%;
    height: 100px;
    border: 3px dashed greenyellow;
    /* margin: auto; */
    overflow: auto;
    /* float: left; */
}

div.contenedor.flotado {
    float: left;
}

div.contenedor.flotado.contenedor1 {
    border: 3px dashed greenyellow;
}

div.contenedor.flotado.contenedor2 {
    border: 3px dashed blue;
    float: right;
}

div.contenedor.contenedor3{
    clear: both;
    border: 3px dashed darkorange;
    margin: auto;
}
