h1 {
    text-align: center;
    color: #09f;
    letter-spacing: 5px;
    word-spacing: 10px;
}

div.contenedor {
    border: 3px solid #01f;
    max-width: 50%;
    max-height: 30%;
    margin: auto;
    padding: 15px;
    border-radius: 7px;
    color: #457b9d;
    text-align: center;
}

img{
    opacity: .5;
}

img:hover{
    opacity: 1;
}
