table, tr, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 9px;
}

table {
    width: 100%;
}

th {
    background-color: #09f;
    color: #f1faee;
    text-align: center;
}

caption {
    color: #e63946;
    font-size: 45px;
    font-family: 'Trocchi', serif;
    line-height: 70px;
}

tr:nth-child(even) {
    background-color: #f1faee;
}

tr:nth-child(odd) {
    background-color: #a8dadc;
}
